@tailwind base;
@tailwind components;
@tailwind utilities;

@variants hover {
    .transparent {
        color: #0065ff;
    }

    .blue {
        color: white;
        background-color: #0052cc
    }
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:wght@400;800&display=swap');
