@tailwind base;
@tailwind components;
@tailwind utilities;

@variants hover {
    .white {
        color: white;
        background-color: blue
    }

    .blue {
        color: white;
        background-color: navy
    }
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:wght@400;800&display=swap');
